h1{
    text-align: center;
    color: rgb(232, 10, 10);
    
}

img{
    max-width: 100%;
    height: 200px;
    margin-right: 10px; 
   
     
}

h2{
    color:rgb(252, 250, 250);
}

h3{
    color: rgb(232, 10, 10);
   

}


.filme-container {
    display: flex;
    align-items: center; 
    margin-bottom: 20px; 
    background-color: rgb(10, 10, 10);
    border: 5px solid red;
   
   

  }
  

 
  
  .texto {
   
    text-align: left;
    color: #ffffff;

   
  }

